BeyondSearch/BeyondSearch/Service References/WCFAPIService86/v9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/InfoSpace.Services.WsQuery.ResponseObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InfoSpace.Services.WsQuery.ResponseObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SearchResultDebug">
    <xs:sequence>
      <xs:element minOccurs="0" name="DebugInfo" nillable="true" type="tns:ArrayOfSearchResultDebugInfo" />
      <xs:element minOccurs="0" name="ExceptionMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchResultDebug" nillable="true" type="tns:SearchResultDebug" />
  <xs:complexType name="ArrayOfSearchResultDebugInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SearchResultDebugInfo" nillable="true" type="tns:SearchResultDebugInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSearchResultDebugInfo" nillable="true" type="tns:ArrayOfSearchResultDebugInfo" />
  <xs:complexType name="SearchResultDebugInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchResultDebugInfo" nillable="true" type="tns:SearchResultDebugInfo" />
</xs:schema>