BeyondSearch/BeyondSearch/Service References/WCFAPIService86/v95.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://infospace.websearch.api" elementFormDefault="qualified" targetNamespace="http://infospace.websearch.api" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://mswcibe01n.inspinc.ad:8242/Search.Service.Web-branches.develop-short/v9.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InfoSpace.Services.WsQuery" />
  <xs:import schemaLocation="http://mswcibe01n.inspinc.ad:8242/Search.Service.Web-branches.develop-short/v9.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/InfoSpace.WebSearchApi.Results" />
  <xs:element name="GetSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/InfoSpace.Services.WsQuery" minOccurs="0" name="query" nillable="true" type="q1:SearchQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/InfoSpace.WebSearchApi.Results" minOccurs="0" name="GetSearchResponseResult" nillable="true" type="q2:WsApiSearchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>